.container_1 {
 
  margin-top: .9rem;
}

.Card {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.box {
   width: 30%;
   margin: auto;
  

    
}

.box img {
  width: 140px;
  border-radius: 10%;
  cursor: pointer;
}

.box p {
  padding: 1.2rem;
  text-align: center;
}

.box1 {
    margin-top: 0.8rem;
}
